.root
  text-align: left
  width: 100%
  max-width: 700px
  margin: auto
  padding: 20px
  padding-bottom: 20px
  padding-top: 50px
  text-align: left
  background: white

  :global
    .DraftEditor-root
      position: relative

    .public-DraftEditorPlaceholder-root
      opacity: .5
      pointer-events: none
      position: absolute
      top: 0
      left: 0

// Content blocks
.blockImage
  margin: 0

.blockUnstyled
  content: ''
  margin-bottom: 20px

.blockBlockquote
  font-family: 'Lyon Text Web'
  font-size: 1.5em
  font-style: italic
  text-align: center
  margin-left: -40px
  margin-right: -80px
