.root
  position: relative
  display: inline-block

.controls
  opacity: 0
  transition: 150ms ease-in-out

  .root:hover &
    opacity: 1

.alignNone
  width: 100%

.alignLeft
  width: 50%
  float: left

.alignRight
  width: 50%
  float: right

.image
  height: auto
  width: 100%
  position: relative
  z-index: 3
  transform: translate3d(0,0,0)

.iconAlign
  height: 1.5em
  width: 1.5em
  background: white

.iconAlignLeft
  composes: iconAlign
  mask: url('../../svg/float-left.svg') top left / cover;

.iconAlignNone
  composes: iconAlign
  height: 1.1em
  width: 1.1em
  margin: .2em
  mask: url('../../svg/float-none.svg') top left / cover;

.iconAlignRight
  composes: iconAlign
  mask: url('../../svg/float-right.svg') top left / cover;
