.root
  font-family: 'Atlas Grotesk Web'
  font-size: 19px
  line-height: 1.65

.logo
  height: 80px

.intro
  font-size: large

.header
  position fixed
  top: 0
  left: 0
  right: 0
  z-index: 1

.body
  background: white
  position relative
  z-index: 2
  margin-top: 350px
