.root
  margin-bottom: 20px
  display: flex
  position: absolute

.icon
  height: 1.5em
  width: 1.5em
  background: white

.iconBold
  composes: icon
  mask: url('../../svg/images/bold1.png') top left / cover

.iconItalic
  composes: icon
  mask: url('../../svg/images/italic3.png') top left / cover

.iconUnderline
  composes: icon
  mask: url('../../svg/images/underline3.png') top left / cover

.iconH1
  composes: icon
  mask: url('../../svg/images/h11.png') top left / cover

.iconH2
  composes: icon
  mask: url('../../svg/images/h21.png') top left / cover

.iconH3
  composes: icon
  mask: url('../../svg/images/h31.png') top left / cover
