.root
  font-size: 0
  border-radius: 3px
  position: absolute
  z-index: 20
  top: -45px
  left: 50%
  transform: translateX(-50%)

  &:after
    display: block
    content: ''
    border: 10px solid transparent
    width: 0
    height: 0
    margin-top: -1px
    border-top-color: #0E151B
    position: absolute
    bottom: -19px
    left: 50%
    margin-left: -10px
    z-index: 1

.button
  outline: none !important
  border: none
  background: #0E151B
  padding: 5px 10px
  font-size: 15px
  display: inline-block
  color: white
  z-index: 2
  cursor: pointer

  &:first-child
    border-radius: 5px 0 0 5px

  &:last-child
    border-radius: 0 5px 5px 0

  &:hover
    background: lighten(#0E151B, 10%)
