.root
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  align-items: center
  z-index: 50
  padding: 10px 50px
  justify-content: space-between
  transition: all 150ms ease-in-out
  background: rgba(#3C99E6, 0)
  opacity .5

.ccccc
  content: 'hhh'
  width: 400px
  color: white
  font-family: 'Atlas Grotesk Web'
  font-weight: 500
  display: flex

  span
    display: inline-block
    margin-left 20px

.blue
  background: #3C99E6
  opacity 1

.logo
  height: 30px
  width: 66px
  background: white
  mask: url('../svg/nineblack.png') top left / cover
  margin-left: -4px
  display: inline-block

.button
  border: 2px solid white
  background: rgba(white, 0)
  transition: all 150ms ease-in-out
  color: white
  padding: 10px 20px
  font-size: 14px
  border-radius: 8px
  align-self: flex-end
  font-family: 'Atlas Grotesk Web'
  cursor: pointer

  &:hover
    background: rgba(white, .25)
